.footer {
  color: #6e1f4e!important;
  font-weight: bold;
}
#main-title {
    color: #6e1f4e!important;
}
.description {
    color: #6e1f4e!important;
}
.home .hero .action-button {
    background: #006597!important;
}
.page.main-content-class {
    text-align: justify;    
}
.image-style{
    border: 3px solid #6e1f4e; 
    margin-top: 10px; 
    border-radius: 15px;
}
.highlight{
    color: #006597!important;
    font-weight: bold;    
}

