// colors
$accentColor = #6e1f4e
$textColor = black
$borderColor = #6e1f4e
$codeBgColor = #282c34  
$arrowBgColor = black
$badgeTipColor = green
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = red


// layout
$navbarHeight = 3.6rem
$sidebarWidth = 23rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$nprogressColor = #6e1f4e


.sidebar-heading.open, .sidebar-heading:hover {
    color: #006597;
}
li>.sidebar-link{
    // color: #006597;
    font-weight: bold;
}
.sidebar-sub-header>.sidebar-link{
    color: black;
    font-weight: bold;
    margin-left: 1.5rem;
    text-align: justify;
    padding-right: 1.6rem;
}
h1 {
    color: #006597!important;
}
.home .hero .action-button {
    padding: 7px 1.6rem;
}
.theme-default-content:not(.custom){
    max-width: 85%;
    margin: 0;

}

h1 > a.header-anchor{
    color: #006597;
}
h2 > a.header-anchor, h2{
    color: #6e1f4e;
}
h3 > a.header-anchor, h3{
    color: black;
}
h4 > a.header-anchor{
    color: #2c3e50;
}
h5 > a.header-anchor{
    color: #2c3e50;
}

a.sidebar-link.active{
    color: #6e1f4e;
    font-weight: bold;
}

